html, body, h1, h2, h3, p, ol, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

body {
    background: #5f5f5f url(../assets/hip-square.webp);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #393A10;
}

h2 {
    padding: 10px 0 10px 0;
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #393A10;
}

ul li {
    font-size: 24px;
}

a {
    text-decoration: none;
}


.header {
    background-color: #86A397;
    padding: 10px 10px 10px 10px;
}

.main-content {
    max-width: 645px;
    padding: 20px 20px 20px 20px;
    border: 2px solid #E1B07E;
    margin: 30px auto 0 auto;
    background: #ffffff url(../assets/photo-1455218873509-8097305ee378.avif) center;
    background-repeat: no-repeat;
    background-size: auto;
}

.nav {
    padding-left: 0;
    margin: 5px 0 20px 0;
    text-align: center;
}

.nav a {
    color: #E1B07E;
    text-decoration: none;
}

a:hover {
    color: #393A10;
}

.nav li {
    display: inline;
    padding: 0 5px 0 5px;
}

.featured {
    margin: 10px auto 15px 0;
    padding-left: 15px;
    text-align: left;
    background-color: #86A397;
    border: 2px #E1B07E solid;
}

.featured a {
    color:  #E1B07E;
}

.featured-img {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;
    margin: 10px auto 10px auto;
    background: #ffffff url();
    border: 2px #E1B07E solid;
}

.featured-button {
    margin: 20px auto 0 auto;
    border: 2px #E1B07E solid;
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    padding: 20px 10px 20px 10px;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #393A10;
    background-color: #86A397;
}

.products-list {
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.products-list img {
    display: block;
    margin: 0 0 0 0;
}

.products-list h3 {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border: 2px #E1B07E solid;
    background-color: #86A397;
    color: #393A10;
}

.product-image {
    background: #ffffff url(../assets/ef3-placeholder-image.jpg);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    
}

